/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include box-sizing to account for padding and border */
 }

  /* Style the hero image */
  

html {
    margin:0;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

a:hover , a:visited {
    color: red;
    cursor: pointer;
}

li {
    list-style-type: none;
}

h1 {
    color:  firebrick;
}

mark {
    background-color: blueviolet;
    color: #fff;
    padding: 3px 5px;
}

aside {
    width: 30%;
    background-color: darkgreen;
    color: #fff;
    float: right;
    padding: 15px 8px;
    margin: 10px 0px;
}





