/* Reset default styles */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include box-sizing to account for padding and border */
  } */

  /* Style the hero image */
  

html {
    margin:0;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

a:hover , a:visited {
    color: red;
    cursor: pointer;
}

li {
    list-style-type: none;
}

h1 {
    color:  firebrick;
}

mark {
    background-color: blueviolet;
    color: #fff;
    padding: 3px 5px;
}

aside {
    width: 30%;
    padding:15px 5px;
    margin-left: 15px;
    float: right;
    font-family: italic;
    background-color: lightgray;
    cursor: pointer;
}

aside:hover  :focus {
    color: #fff;
    background-color: red;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #dddddd;
}




